@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Linotte Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Linotte Regular.woff');
}

@font-face {
    font-family: 'Linotte Regular';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/Linotte Bold.woff');
}